<link rel="stylesheet" href="/css/header.css" type="text/css">
<script src="js/header.js"></script>
<header class="global-header">
    <h1 class="title-padrao">PostApp</h1>
    <div class="nav-mobile">
        <img onclick="navbarToggle()" src="img/bars-solid.svg" class="icone-nav" alt="Icone de menu de navegação">
    </div>
    <div id="menu_extra" class="dp-none">
        <ul class="navigation">
            <a href="/" class="active">
                <li>Home</li>
            </a>
            <a href="/painel">
                <li>Painel</li>
            </a>
            {{#if user}}
                <a href="/Logout">
                    <li>Logout</li>
                </a>
            {{else}}
                <a href="/login">
                    <li>Login</li>
                </a>
            {{/if}}
        </ul>
    </div>
    <nav class="nav-bar">
        <ul class="navigation">
            <a href="/" class="active">
                <li>Home</li>
            </a>
            <a href="/painel">
                <li>Painel</li>
            </a>
            {{#if user}}
                <a href="/Logout">
                    <li>Logout</li>
                </a>
            {{else}}
                <a href="/login">
                    <li>Login</li>
                </a>
            {{/if}}
        </ul>
    </nav>
</header>