<link rel="stylesheet" href="/css/header.css" type="text/css">
<header class="header-gl">
    <a href="/painel"><h1 class="header-title">Dashboard</h1></a>
    <div class="header-nav">
        <ul>
            <li><a href="/painel">Home</a></li>
            <li><a href="/painel/categoria">Categorias</a></li>
            <li>Postagens</li>
        </ul>
    </div>
</header>