<link rel="stylesheet" href="/css/header.css" type="text/css">
<header class="header-gl">
    <a href="/painel"><h1 class="header-title">Dashboard</h1></a>
    <div class="header-nav">
        <ul>
            <a href="/painel"><li>Home</li></a>
            <a href="/painel/categoria"><li>Categorias</li></a>
            <a href="/painel/postagem"><li>Postagens</li></a>
        </ul>
    </div>
</header>