<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <title>BlogApp</title>
</head>
<body>
    {{#if error}}
        <div class="box-msg box-msg-error">
            {{error}}
        </div>
    {{/if}}
    {{{body}}}
</body>
</html>