<link rel="stylesheet" href="/css/painel/categoria.css">
{{#if success_msg}}
    <div class="box-msg box-msg-success">
        {{success_msg}}
    </div>
{{/if}}
{{#if error_msg}}
    <div class="box-msg box-msg-error">
        {{error_msg}}
    </div>
{{/if}}
<div class="card card-main">
    <h2 class="title">Lista de categorias</h2>
</div>
<div class="card card-main">
    
</div>
<a class="btn btn-suc" href="/painel/categoria/cadastrar">Cadastrar categoria</a>