<link rel="stylesheet" href="/css/painel/home.css" type="text/css">
<h2 class="sub-title">Seja muito bem vindo ao painel administrativo</h2>
<div class="card card-main">
    <h3 class="sub-cat">Categorias</h3>
    <p class="para-text">Esse é um sub-menu contendo opções para manipulação das categorias presentes e seus slugs.</p>
    <a href="/painel/categoria"><button class="btn btn-cat">Verificar categorias</button></a>
</div>
<div class="card card-main mt-4">
    <h3 class="sub-cat">Postagens</h3>
    <p class="para-text">Esse é um sub-menu contendo opções para manipulação das postagens presentes e o conteudo presente nelas.</p>
    <a href="/painel/postagem"><button class="btn btn-cat">Verificar postagens</button></a>
</div>