<link rel="stylesheet" href="/css/painel/home.css" type="text/css">
<h2 class="sub-title">Seja muito bem vindo ao painel administrativo</h2>
    <div class="card card-main">
        <h3 class="sub-cat">Categorias</h3>
        <p class="para-text">Esse é um sub-menu contendo opções para manipulação das categorias presentes e seus slugs.</p>
        <button class="btn btn-cat"><a href="/painel/categoria">Verificar categorias</a></button>
    </div>