.card-main{
    margin-top: 40px;
    text-align: center;
}

.btns{
    margin-top: 40px; 
}

.card form label{
    margin-bottom: 10px;
}

.btn-fim:focus{
    outline: none;
    background-color: rgb(194, 28, 245);
    color: #fff;
    padding: 12px 43%;
    transition: 0.5s;
    margin-left: -13.5px;
}

.box-msg{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    border: 3.5px solid rgb(236, 236, 236);
    font-weight: 700;
}

.box-msg-success{
    background-color: rgb(95, 202, 95);
}

.box-msg-error{
    background-color: rgb(211, 87, 87);
}

.box-cat{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas: "nome slug btn";
}

.name-cat{
    grid-area: nome;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slug-cat{
    grid-area: slug;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-head-cat{
    background-color: rgb(132, 99, 192);
    height: 50px;
}

.head-cat{
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
}

.btn-cat{
    grid-area: btn;
    display: flex;
    justify-content: end;
}

.btn-exc{
    background-color: rgb(224, 86, 86);
    padding: 10px 15px;
}

.btn-exc:hover{
    background-color: rgb(235, 108, 108);
}

.btn-edit{
    background-color: rgb(235, 189, 63);
    transition: 1s;
}

.btn-edit:hover{
    background-color: rgb(233, 204, 125);
    transition: 0.3s;
}

.btn-wow{
    font-weight: 900;
}